<div class="row">
    <div class="col-md-6">
		<!--begin::Portlet-->
		<div class="kt-portlet kt-portlet--height-fluid">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">Contact BioData</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 col-xl-6">
							<p><b>Full Name: </b><%= contact.firstName + ' ' + contact.lastName %></p>
						</div>
						<div class="col-md-6 col-xl-4">
							<p><b>Username: </b><%= contact.username %></p>
						</div>
						<div class="col-md-6 col-xl-4">
							<p><b>Email: </b><%= contact.email %></p>
						</div>
						<div class="col-md-12">
							<p><b>Address: </b><%= contact.address %></p>
						</div>
						<div class="col-md-4 col-xl-3">
							<p><b>City/State: </b><%= contact.city %></p>
						</div>
						<div class="col-md-4 col-xl-3">
							<p><b>Country: </b><%= contact.counttry %></p>
						</div>
						<div class="col-md-4 col-xl-3">
							<p><b>Currency: </b><%= contact.mailingCurrency %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<!--begin::Portlet-->
		<div class="kt-portlet kt-portlet--height-fluid">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">Contact Campaigns</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<!--begin: Datatable -->
							<table class="" id="html_table1" width="100%">
								<thead>
									<tr>
										<th title="Field #4">Campaign</th>
										<th title="Field #5">Data</th>
										<th title="Field #6">Land</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>0006-3629</td>
										<td>Land Rover</td>
										<td>Range Rover</td>
									</tr>
									<tr>
										<td>66403-315</td>
										<td>GMC</td>
										<td>Jimmy</td>
									</tr>
								</tbody>
							</table>

							<!--end: Datatable -->
						</div>
					</div>
					</div>
			</div>	
		</div>
		<!--end::Portlet-->
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<!--begin::Portlet-->
		<div class="kt-portlet kt-portlet--height-fluid">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">Contact Company Details</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<p><b>Company Name: </b><%= contact.mailingName %></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p><b>Address: </b><%= contact.mailingAddress %></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p><b>State: </b><%= contact.mailingCity %></p>
						</div>
						<div class="col-md-6 ml-auto">
							<p><b>Country: </b><%= contact.mailingCountry %></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p><b>Company Email: </b><%= contact.mailingEmail %></p>
						</div>
					</div>
					<div class="row">	
						<div class="col-md-12">
							<p><b>Company Website: </b><%= contact.mailingWebsite %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="col-md-6">
		<!--begin::Portlet-->
		<div class="kt-portlet kt-portlet--height-fluid">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">Contact Preferences</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<!--begin: Datatable -->
							<table class="" id="html_table" width="100%">
								<thead>
									<tr>
										<th title="Field #1" style="width: max-content;">Preference</th>
										<th title="Field #2" style="width: 100px;">Enrolled</th>
										<th title="Field #3" style="width: 100px;">Active</th>
									</tr>
								</thead>
								<tbody>
								    <% contact.PreferenceCenters.forEach ( preference => { %>
								        <tr>
    										<td><%= preference.name %></td>
    									</tr>
								    <% }) %>
								</tbody>
							</table>

							<!--end: Datatable -->
						</div>
					</div>
					</div>
			</div>	
		</div>
		<!--end::Portlet-->
	</div>
	<div class="col-12">
		<!--begin::Portlet-->
		<div class="kt-portlet kt-portlet--height-fluid">
			<div class="kt-portlet__body">
					<div class="row">	
						<div class="col-md-6 col-xl-3">
							<p><b>Created By: </b>Umechukwu Chibuike</p>
						</div>
						<div class="col-md-6 col-xl-3">
							<p><b>Last Modified By: </b>Umechukwu Chibuike</p>
						</div>
					</div>
			</div>	
		</div>
		<!--end::Portlet-->
	</div>
</div> 			


<!--begin::Page Scripts(used by this page) -->

<!--for Select Change -->
<script src="assets/js/contact/contact_details.js" type="text/javascript"></script>
<!--for Select Change -->