<p><%= userContents %></p>

<p>User information:</p>
<ul>
    <li>User ID: <%= user.id %></li>
    <li>Email: <%= user.email %></li>
    <li>Username: <%= user.username %></li>
    <li>Last Login:  <%= user.last_login %></li>
    <li>Session start date: <%= startDate %></li>
</ul> 
